@import url("https://fonts.googleapis.com/css2?family=Secular+One&family=Unbounded:wght@700&display=swap");
body {
  background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1vh, 1fr, 55vw;
}
body header {
  grid-area: 1/1/2/2;
  height: 1vh;
  display: grid;
  grid-template-columns: 20% 1fr 16%;
  grid-template-rows: 1fr;
  margin-bottom: 5vw;
  z-index: 1;
}
body header h1 {
  grid-area: 1/2/2/3;
  text-align: center;
  font-family: "Unbounded", cursive;
  font-size: 6vw;
}
body header #trie {
  visibility: hidden;
  margin-left: 2vw;
  margin-top: 2vh;
}
body header #trie #aFaire {
  font-family: "Secular One", sans-serif;
  font-size: 5vw;
  width: 45vw;
  border-top-left-radius: 35%;
  border-top-right-radius: 35%;
}
body header #trie #Fait {
  font-family: "Secular One", sans-serif;
  font-size: 5vw;
  width: 45vw;
}
body header #trie #Fini {
  font-family: "Secular One", sans-serif;
  font-size: 5vw;
  width: 45vw;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 35%;
}
body header #filtre {
  grid-area: 1/1/2/2;
  width: 16vw;
  height: auto;
  background-color: #cadefc;
  border-radius: 50%;
  border: none;
}
body header #filtre #imgbg {
  width: 8vw;
  height: auto;
}
body header #addtask {
  grid-area: 1/3/2/4;
  background-color: #cadefc;
  border-radius: 50%;
  border: none;
  width: 16vw;
  height: auto;
}
body header #addtask #imgcross {
  width: 10vw;
  height: auto;
}
body main {
  grid-area: 2/1/3/2;
  font-family: "Secular One", sans-serif;
}
body main #createTask {
  z-index: 1;
  position: absolute;
  top: 30vw;
  right: 30vw;
  left: 20vw;
  display: none;
  border: solid black 2px;
  border-radius: 20%;
  box-shadow: 1vw 1vw 3vw 1vw #000000;
  justify-content: center;
  width: 60%;
  height: 40vh;
  background-color: #cadefc;
}
body main #createTask .popUpTask {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main #createTask .popUpTask #nom {
  margin-top: 2vh;
  margin-bottom: 3vh;
  height: 3vh;
  width: 40vw;
  font-family: "Secular One", sans-serif;
}
body main #createTask .popUpTask #desc {
  width: 40vw;
  height: 10vh;
  font-family: "Secular One", sans-serif;
}
body main #createTask .popUpTask #date {
  margin-top: 5vh;
  width: 40vw;
  margin-bottom: 5vh;
  font-family: "Secular One", sans-serif;
}
body main #createTask .popUpTask #valid {
  width: 15vh;
  height: 6vw;
  background-color: #defcf9;
  font-family: "Secular One", sans-serif;
}
body main .tout {
  margin-top: 25vw;
}
body main .tout .task {
  background-color: #fdffcd;
  border-radius: 25%;
  padding: 7vw;
  margin: 5vw;
}
body main .tout .task .delete {
  background-color: #fdffcd;
  border: none;
}
body main .tout .task .delete #poubelle {
  width: 65%;
  height: auto;
}
body main .tout .task .status {
  width: 25vw;
  margin-left: 7vw;
  margin-right: 4vw;
  font-family: "Secular One", sans-serif;
}
body main .tout .task .arrow {
  background-color: #fdffcd;
  border: none;
  width: 15%;
  margin-left: 8vw;
}
body main .tout .task .arrow #plus {
  width: 75%;
  height: auto;
}

/*@media screen and (max-width: 800px) {
    body {
        display: flex;
        justify-content: center;

        header {
            display: grid;
            grid-template-columns: 20% 1fr 20%;
            grid-template-rows: 1fr;
            margin-bottom: 5vw;
            margin-left: 5vw;

            h1 {
                grid-area: 1 / 2 / 2 / 3;
                text-align: center;
                font-family: 'Unbounded', cursive;
                font-size: 6vw;

            }

            #filtre {
                display: contents;
                grid-area: 1 / 1 / 2 / 2;
                width: 16vw;
                height: auto;
                margin-left: 0vw;

                #imgbg {

                    width: 8vw;
                    height: auto;
                }
            }

            #addtask {

                grid-area: 1 / 3 / 2 / 4;
                width: 16vw;
                height: auto;
                margin-right: 40vw;

                #imgcross {
                    width: 10vw;
                    height: auto;
                }

            }
        }

    }
    main {
        display: flex;
        justify-content: center;
        position: absolute;

        #createTask {
            position: relative;
            right: 25vw;
            left: 25vw;
            visibility: hidden;
            border: solid black 2px;
            display: flex;
            justify-content: center;
            width: 60%;
            background-color: blueviolet;

            .popUpTask {
                display: flex;
                flex-direction: column;
                align-items: center;

                .nom {
                    margin-top: 5%;
                    width: 100%;
                }

                #description {
                    margin-top: 5%;
                    width: 100%;
                }

                .date {
                    margin-top: 5%;
                    width: 100%;
                }

                #validation {
                    width: 40%;
                    height: 6vw;
                    margin-top: 5%;
                }
            }
        }

        .tout {
            display: flex;
            justify-content: center;
            width: 110vw;
            height: 90vw;
            border-radius: 1vw;
            background-color: rgb(238, 235, 234);
            margin-left: -48vw;
            margin-top: 20vw;

            .name {
                background-color: rgb(49, 88, 214);
                width: 86vw;
                justify-content: flex-start;

            }

            .contenu {
                background-color: rgb(49, 88, 214);
                width: 86vw;
                height: 70vw;
            }

            .description {
                margin-top: 15vw;
            }

            .arrow {
                margin-left: 80vw;
                top: -3vw;
            }

            .delete {
                margin-left: 5vw;
                margin-top: 28vw;

            }

            #status {
                margin-left: 40vw;
                margin-top: -5vw;

            }
        }
    }
}


@media screen and(max-width: 1026px) {
    body {
        display: flex;
        justify-content: center;
    }

    header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }
    h1 {
        grid-area: 1 / 2 / 2 / 3;
        text-align: center;
        font-family: 'Unbounded', cursive;
        font-size: 6vw;

    }

    #filtre {
        display: none;
        grid-area: 1 / 1 / 2 / 2;
        width: 16vw;
        height: auto;

        #imgbg {
            width: 8vw;
            height: auto;
        }
    }

    #addtask {
        border: none;
        background: none;
        grid-area: 1 / 3 / 2 / 4;
        width: 16vw;
        height: auto;

        #imgcross {
            width: 10vw;
            height: auto;
        }

    }
    main {
        display: flex;
        justify-content: center;
        position: absolute;

        #createTask {
            position: relative;
            right: 25vw;
            left: 25vw;
            visibility: hidden;
            border: solid black 2px;
            display: flex;
            justify-content: center;
            width: 60%;
            background-color: blueviolet;

            .popUpTask {
                display: flex;
                flex-direction: column;
                align-items: center;

                .nom {
                    margin-top: 5%;
                    width: 100%;
                }

                #description {
                    margin-top: 5%;
                    width: 100%;
                }

                .date {
                    margin-top: 5%;
                    width: 100%;
                }

                #validation {
                    width: 40%;
                    height: 6vw;
                    margin-top: 5%;
                }
            }
        }

        .tout {
            display: flex;
            justify-content: center;
            width: 110vw;
            height: 90vw;
            border-radius: 1vw;
            background-color: rgb(238, 235, 234);
            margin-left: -48vw;
            margin-top: 20vw;

            .name {
                background-color: rgb(49, 88, 214);
                width: 86vw;
                justify-content: flex-start;

            }

            .contenu {
                background-color: rgb(49, 88, 214);
                width: 86vw;
                height: 70vw;
            }

            .description {
                margin-top: 15vw;
            }

            .arrow {
                margin-left: 80vw;
                top: -3vw;
            }

            .delete {
                margin-left: 5vw;
                margin-top: 28vw;

            }

            #status {
                margin-left: 40vw;
                margin-top: -5vw;

            }
        }
    }
}*//*# sourceMappingURL=style.css.map */