@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@700&display=swap');

body{
    background-color:bisque;

    header {
        display: flex;
        justify-content:center;
        margin-bottom: 5vw;
        h1 {
            text-align: center;
            font-family: 'Unbounded', cursive;
            margin-left: 10vw;
            margin-right: 10vw;

        }
        

    }
    main{
        display: flex;
        justify-content: center;
        position: absolute;
        #createTask{
            position: relative;
            right: 25vw;
            left: 25vw;
            visibility: hidden;
            border: solid black 2px;
            display: flex;
            justify-content: center;
            width: 60%;
            background-color: blueviolet;
            .popUpTask{
                display: flex;
                flex-direction: column;
                align-items: center;
                .nom{
                    margin-top: 5%;
                    width: 100%;
                }
                #description{
                    margin-top: 5%;
                    width: 100%;
                }
                .date{
                    margin-top: 5%;
                    width: 100%;
                }
                #validation{
                    width: 40%;
                    height: 6vw;
                    margin-top: 5%;
                }
            }
        }
    }
}